

/* Fonts */
.open-api-container h1,
.open-api-container h2,
.open-api-container h3,
.open-api-container h4,
.open-api-container h5,
.open-api-container div,
.open-api-container h6,
.open-api-container p,
.open-api-container a,
.open-api-container span {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: -apple-system, "Inter", sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

.open-api-container h1,
.open-api-container h2,
.open-api-container h3 {
  font-weight: 400;
  line-height: 1.1111111;
}

.open-api-container h1 {
  font-size: 2.25em;
}

.open-api-container h2 {
  font-size: 24px;
}

.open-api-container h3 {
  font-size: 20px;
}

.open-api-container h4 {
  font-weight: 600;
  letter-spacing: .025em;
}

.open-api-container h6,
.open-api-container p,
.open-api-container [data-testid="two-column-left"] .sl-stack--vertical p,
.open-api-container [data-testid="two-column-left"] .sl-stack--vertical div,
.open-api-container [data-testid="two-column-left"] .sl-stack--vertical span,
.open-api-container .sl-sticky p,
.open-api-container .sl-sticky span {
  font-size: 16px !important;
}

.open-api-container [data-testid="two-column-right"] .sl-stack--vertical div,
.open-api-container [data-testid="two-column-right"] .sl-stack--vertical span,
.open-api-container [data-testid="two-column-right"] p,
.open-api-container [data-testid="two-column-right"] button,
.open-api-container [data-testid="two-column-right"] span,
.open-api-container [data-testid="two-column-right"] .sl-sticky span {
  font-size: 14px !important;
}

.open-api-container .sl-sticky a div .sl-truncate {
  font-size: 14px;
}

.open-api-container .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  font-weight: 600;
}


.open-api-container tr th {
  font-size: 16px;
  font-weight: 500;
}

.open-api-container td {
  font-size: 16px;
}

.open-api-container [data-test="security-row"] span {
  font-size: 16px;
}

/* Light fonts */

.openapi-light .sl-sticky a div .sl-truncate {
  color: #64748B;
}

.openapi-light .sl-sticky a div .sl-truncate:hover {
  color: #0F172A;
}

.openapi-light .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  color: #3098AA;
}

.openapi-light h1,
.openapi-light h2,
.openapi-light h3 {
  color: #0F172A;
}

.openapi-light h4 {
  color: #0F172A;
}

.openapi-light h6,
.openapi-light p,
.openapi-light .sl-sticky p,
.openapi-light .sl-sticky span {
  color: #334155;
}

.openapi-light tr th {
  color: #0F172A;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller span {
  color: #000;
}

/* Dark Fonts */

.openapi-dark .sl-sticky a div .sl-truncate {
  color: #94A3B8;
}

.openapi-dark .sl-sticky a div .sl-truncate:hover {
  color: #F1F5F9;
}

.openapi-dark .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  color: #3098AA;
}

.openapi-dark h1,
.openapi-dark h2,
.openapi-dark h3 {
  color: #FFFFFF;
}

.openapi-dark h4 {
  color: #FFFFFF;
}

.openapi-dark h6,
.openapi-dark p,
.openapi-dark span,
.openapi-dark .sl-sticky p,
.openapi-dark .sl-sticky span {
  color: #94A3B8;
}

.openapi-dark tr th {
  color: #FFFFFF;
}

.openapi-dark .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller span {
  color: #F1F5F9;
}

.openapi-dark td {
  color: #D1D5DB;
}

.openapi-dark div {
  color: #FFFFFF;
}

.openapi-dark .sl-bg-canvas-tint {
  color: #FFFFFF;
}

.open-api-container [data-test="property-required"] {
  color: #F46D2A !important;
  font-weight: 400;
  font-size: 14px;
}

/* Light */

.openapi-light .sl-elements-api > .sl-flex:first-child {
  background-color: #ffffff;
}

.openapi-light .sl-elements-api > .sl-flex:first-child * {
  background-color: #ffffff;
}

.openapi-light .sl-elements-api .sl-my-3 {
  background-color: #ffffff;
  margin: 0px;
  padding: 12px;
}

.openapi-light .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__titlebar.sl-flex {
  background-color: #F9FAFB;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller {
  background-color: #F9FAFB;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper {
  background-color: #ffffff;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical .sl-panel__titlebar {
  background-color: #F9FAFB;
}

.openapi-light :where(*):has([style*="border"], [class*="border"]) {
  border-radius: 0.1px;
}

.openapi-light tbody {
  border-radius: 0.1px;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller .sl-code-highlight .token {
  color: #334155 !important;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller .sl-code-highlight button {
  color: #334155 !important;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical.sl-items-stretch.sl-stack--6 .sl-panel .sl-panel__titlebar.sl-select-none {
  background-color: #F9FAFB;
  border-width: 0px;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical.sl-items-stretch.sl-stack--6 .sl-panel .sl-panel__titlebar.sl-select-none span {
  color: #0F172A;
}

/* Dark */

.openapi-dark .HttpService .sl-stack.sl-stack--vertical.sl-items-stretch.sl-stack--6 .sl-panel .sl-panel__titlebar.sl-select-none {
  background-color: #14171F;
  border-width: 0px;
}

.openapi-dark .HttpService .sl-stack.sl-stack--vertical.sl-items-stretch.sl-stack--6 .sl-panel .sl-panel__titlebar.sl-select-none span {
  color: #fff;
}

.openapi-dark .sl-elements-api > .sl-flex:first-child {
  background-color: #14171F;
}

.openapi-dark .sl-elements-api > .sl-flex:first-child * {
  background-color: #14171F;
}

.openapi-dark .sl-elements-api .sl-my-3 {
  background-color: #14171F;
}

.openapi-dark .sl-bg-canvas {
  background-color: #14171F;
}

.openapi-dark .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__titlebar.sl-flex {
  background-color: #14171F;
}

.openapi-dark .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller {
  background-color: #0F111A;
}

.openapi-dark .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper {
  background-color: #14171F;
}

.openapi-dark .HttpService .sl-stack.sl-stack--vertical .sl-panel__titlebar {
  background-color: #14171F;
}

.openapi-dark .sl-prose tbody tr:nth-child(2n) {
  background-color: #14171F;
}

.openapi-dark .sl-bg-canvas-tint {
  background-color: #14171F;
}

.openapi-dark .sl-relative .sl-stack.sl-stack--horizontal.sl-bg-canvas-50.sl-rounded-lg {
  background-color: #14171F;
  border-color: #0F111A;
  border-width: 0.1px;
}

.openapi-dark :where(*):has([style*="border"], [class*="border"]) {
  border-color: #0F111A;
}

.openapi-dark tbody {
  border: 2px solid #0F111A;
  border-radius: 4px;
}

/* Code Blocks */

.open-api-container .TryItPanel .sl-panel__titlebar {
  background-color: #2D2B55;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
} 

.open-api-container .TryItPanel .SendButtonHolder {
  border-top-width: 0.1px;
  padding-top: 10px;
} 

.open-api-container .TryItPanel .sl-button {
  background-color: #28a6bc;
  padding: 10px;
  height: 33px;
  border-radius: 4px;
} 

.open-api-container .TryItPanel .sl-button:hover {
  background-color: #19b7d2;
} 

.open-api-container .TryItPanel .TextRequestBody {  
  background-color: #2D2B55;
} 

.open-api-container .TryItPanel {
  background-color: #2D2B55;
} 

.open-api-container .TryItPanel .ParameterGrid {
  background-color: #2D2B55;
} 

.open-api-container .TryItPanel + .sl-panel > .sl-panel__titlebar {
  background-color: #2D2B55;
  margin-top: 10px;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
}

.open-api-container .TryItPanel + .sl-panel > .sl-panel__content-wrapper {
  background-color: #2D2B55;
}

.open-api-container .sl-stack.sl-stack--vertical.sl-items-stretch.sl-stack--6 .sl-panel .sl-panel__titlebar { 
  background-color: #2D2B55;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
}   

.open-api-container .sl-panel__titlebar span {
  color: #E2E8F0;
}

.open-api-container .sl-panel__titlebar button:hover {
  background-color: #2D2B55;
}

.open-api-container .sl-panel__titlebar button:active {
  background-color: #2D2B55;
}

.open-api-container [data-testid="two-column-right"] .sl-panel__titlebar {
  background-color: #2D2B55;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
}

.open-api-container .sl-panel__titlebar button {
  color: #E2E8F0;
}

.open-api-container .sl-code-viewer__scroller {
  background-color: #2D2B55;
} 

.open-api-container .TryItPanel + .sl-panel .sl-code-viewer__scroller  {
  background-color: #2D2B55;
}

.open-api-container .sl-code-viewer__scroller span {
  color: #E2E8F0 !important;
} 

.open-api-container .sl-sticky.sl-inset-y-0.sl-bg-canvas-100 > a {
  display: none;
}

.open-api-container .sl-border-r {
  border-right-width: 0px;
}

.open-api-container .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__content-wrapper .sl-panel__content div div {
  border-width: 0px;
}

.open-api-container .HttpService .sl-stack.sl-stack--vertical {
  border-width: 0.1px;
  border-radius: 4px;
}

.open-api-container .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper .sl-panel__content div div {
  border-width: 0px;
}

/* Code */

.open-api-container code {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
  border-radius: 0.375rem !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.openapi-light code {
  border: 1px solid #D1D5DB !important;
  background-color: #F1F5F9 !important;
  color: #0F172A !important;
}

.openapi-dark code {
  background-color: #0F172A !important;
  border: 1px solid #4B5563 !important;
  color: #FFFFFF !important;
}

.open-api-container [aria-label="Responses"] {
  padding-right: 0px;
  margin-right: -15px;
}