.sl-elements-api > .sl-flex:first-child {
  background-color: #ffffff;
}

.sl-elements-api > .sl-flex:first-child * {
  background-color: #ffffff;
}

.sl-elements-api .sl-my-3 {
  background-color: #ffffff;
  margin: 0px;
  padding: 12px;
}

.TryItPanel .sl-panel__titlebar {
  background-color: #2D2B55;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
} 

.TryItPanel .SendButtonHolder {
  border-top-width: 0.1px;
  border-top-color: #6B7280;
  padding-top: 10px;
} 

.TryItPanel .sl-button {
  background-color: #28a6bc;
  padding: 10px;
  height: 33px;
  border-radius: 4px;
} 

.TryItPanel .sl-button:hover {
  background-color: #19b7d2;
} 

.TryItPanel .TextRequestBody {  
  background-color: #2D2B55;
} 

.TryItPanel {
  background-color: #2D2B55;
} 

.TryItPanel + .sl-panel > .sl-panel__titlebar {
  background-color: #2D2B55;
  margin-top: 10px;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
}

.TryItPanel + .sl-panel > .sl-panel__content-wrapper {
  background-color: #2D2B55;
}

.sl-panel__titlebar { 
  background-color: #E0E6F0;  
}   

.sl-code-viewer__scroller {
  background-color: #EBEEF5;
} 

.TryItPanel + .sl-panel .sl-code-viewer__scroller  {
  background-color: #2D2B55;
}
