.lb-bg-background {
  background-color: #FFFFFF;
}

.lb-text-primary-foreground {
  color: #62becc;
  background-color: #ffffff;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(219 226 240);
  border-width: 1;
  border-color: rgb(219 226 240);
}

button.lb-text-primary-foreground {
  color: #14171F;
  background-color: #ffffff;
}

.light .lb-border-muted-foreground\/40 {
  border-color: rgb(219 226 240) !important;
}

.light .lb-text-primary-foreground:hover {
  background-color: #ffffff;
}

.dark .lb-border-border {
  border-color: rgb(38 43 56);
}

.dark .lb-text-primary-foreground {
  color: #62becc;
  background-color: rgb(29 33 47);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(38 43 56);
  border-width: 1;
  border-color: rgb(38 43 56);
}

.dark .lb-border-muted-foreground {
  border-color: rgb(38 43 56);
}

.dark .lb-bg-background {
  background-color: #14171F;
}

.dark .lb-bg-muted {
  background-color: #1b1d24;
}

.dark .lb-bg-border {
  border-color: rgb(38 43 56);
  background-color: rgb(38 43 56);
}

.dark .sm\:lb-border-border {
  border-color: rgb(38 43 56);
}
