/* Fonts */
.open-api-container h1,
.open-api-container h2,
.open-api-container h3,
.open-api-container h4,
.open-api-container h5,
.open-api-container div,
.open-api-container h6,
.open-api-container p,
.open-api-container a,
.open-api-container span {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: -apple-system, "Inter", sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

.open-api-container h1,
.open-api-container h2,
.open-api-container h3 {
  font-weight: 400;
  line-height: 1.1111111;
}

.open-api-container h1 {
  font-size: 2.25em;
}

.open-api-container h2 {
  font-size: 24px;
}

.open-api-container h3 {
  font-size: 20px;
}

.open-api-container h4 {
  font-weight: 600;
  letter-spacing: .025em;
}

.open-api-container h6,
.open-api-container p,
.open-api-container .sl-sticky p,
.open-api-container .sl-sticky span {
  font-size: 16px;
}

.open-api-container .sl-sticky a div .sl-truncate {
  font-size: .875rem;
}

.open-api-container .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  font-weight: 600;
}


.open-api-container tr th {
  font-size: 14px;
  font-weight: 500;
}

.open-api-container td {
  font-size: 14px;
}

/* Light fonts */

.openapi-light .sl-sticky a div .sl-truncate {
  color: #64748B;
}

.openapi-light .sl-sticky a div .sl-truncate:hover {
  color: #0F172A;
}

.openapi-light .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  color: #3098AA;
}

.openapi-light h1,
.openapi-light h2,
.openapi-light h3 {
  color: #0F172A;
}

.openapi-light h4 {
  color: #0F172A;
}

.openapi-light h6,
.openapi-light p,
.openapi-light .sl-sticky p,
.openapi-light .sl-sticky span {
  color: #334155;
}

.openapi-light tr th {
  color: #0F172A;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller span {
  color: #000;
}

/* Dark Fonts */

.openapi-dark .sl-sticky a div .sl-truncate {
  color: #94A3B8;
}

.openapi-dark .sl-sticky a div .sl-truncate:hover {
  color: #F1F5F9;
}

.openapi-dark .sl-sticky a div.sl-bg-primary-tint .sl-truncate {
  color: #3098AA;
}

.openapi-dark h1,
.openapi-dark h2,
.openapi-dark h3 {
  color: #FFFFFF;
}

.openapi-dark h4 {
  color: #FFFFFF;
}

.openapi-dark h6,
.openapi-dark p,
.openapi-dark span,
.openapi-dark .sl-sticky p,
.openapi-dark .sl-sticky span {
  color: #94A3B8;
}

.openapi-dark tr th {
  color: #FFFFFF;
}

.openapi-dark .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller span {
  color: #F1F5F9;
}

.openapi-dark td {
  color: #D1D5DB;
}

.openapi-dark div {
  color: #FFFFFF;
}

.openapi-dark .sl-bg-canvas-tint {
  color: #FFFFFF;
}

/* Light */

.openapi-light .sl-elements-api > .sl-flex:first-child {
  background-color: #ffffff;
}

.openapi-light .sl-elements-api > .sl-flex:first-child * {
  background-color: #ffffff;
}

.openapi-light .sl-elements-api .sl-my-3 {
  background-color: #ffffff;
  margin: 0px;
  padding: 12px;
}

.openapi-light .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__titlebar.sl-flex {
  background-color: #F9FAFB;
}

.openapi-light .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller {
  background-color: #F9FAFB;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper {
  background-color: #ffffff;
}

.openapi-light .HttpService .sl-stack.sl-stack--vertical .sl-panel__titlebar {
  background-color: #F9FAFB;
}

/* Dark */

.openapi-dark .sl-elements-api > .sl-flex:first-child {
  background-color: #14171F;
}

.openapi-dark .sl-elements-api > .sl-flex:first-child * {
  background-color: #14171F;
}

.openapi-dark .sl-elements-api .sl-my-3 {
  background-color: #14171F;
}

.openapi-dark .sl-bg-canvas {
  background-color: #14171F;
}

.openapi-dark .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__titlebar.sl-flex {
  background-color: #14171F;
}

.openapi-dark .sl-prose.sl-markdown-viewer .sl-code-viewer__scroller {
  background-color: #0F111A;
}

.openapi-dark .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper {
  background-color: #14171F;
}

.openapi-dark .HttpService .sl-stack.sl-stack--vertical .sl-panel__titlebar {
  background-color: #14171F;
}

.openapi-dark .sl-prose tbody tr:nth-child(2n) {
  background-color: #14171F;
}

.openapi-dark code {
  background-color: #14171F;
}

.openapi-dark .sl-bg-canvas-tint {
  background-color: #14171F;
}

.openapi-dark .sl-relative .sl-stack.sl-stack--horizontal.sl-bg-canvas-50.sl-rounded-lg {
  background-color: #14171F;
  border-color: #94A3B8;
  border-width: 1px;
}

/* Code Blocks */

.TryItPanel .sl-panel__titlebar {
  background-color: #2D2B55;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
} 

.TryItPanel .SendButtonHolder {
  border-top-width: 0.1px;
  border-top-color: #6B7280;
  padding-top: 10px;
} 

.TryItPanel .sl-button {
  background-color: #28a6bc;
  padding: 10px;
  height: 33px;
  border-radius: 4px;
} 

.TryItPanel .sl-button:hover {
  background-color: #19b7d2;
} 

.TryItPanel .TextRequestBody {  
  background-color: #2D2B55;
} 

.TryItPanel {
  background-color: #2D2B55;
} 

.TryItPanel .ParameterGrid {
  background-color: #2D2B55;
} 

.TryItPanel + .sl-panel > .sl-panel__titlebar {
  background-color: #2D2B55;
  margin-top: 10px;
  border-bottom-width: 0.1px;
  border-bottom-color: #6B7280;
}

.TryItPanel + .sl-panel > .sl-panel__content-wrapper {
  background-color: #2D2B55;
}

.sl-panel__titlebar { 
  background-color: #E0E6F0;  
}   

.sl-code-viewer__scroller {
  background-color: #EBEEF5;
} 

.TryItPanel + .sl-panel .sl-code-viewer__scroller  {
  background-color: #2D2B55;
}

.open-api-container .sl-sticky.sl-inset-y-0.sl-bg-canvas-100 > a {
  display: none;
}

.open-api-container .sl-border-r {
  border-right-width: 0px;
}

.open-api-container .sl-stack--vertical .sl-stack.sl-stack--vertical.sl-stack--3 .sl-panel__content-wrapper .sl-panel__content div div {
  border-width: 0px;
}

.open-api-container .HttpService .sl-stack.sl-stack--vertical {
  border-width: 1px;
  border-radius: 4px;
}

.open-api-container .HttpService .sl-stack.sl-stack--vertical .sl-panel__content-wrapper .sl-panel__content div div {
  border-width: 0px;
}